html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%
  margin: 0 auto;
}
.container{
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.header{
  background-color: #6f14e6;
  height: 50px;
  width:100%;
  font-size: 1.5rem;
}
.logo li{
  font-size:30px;
  height:50px;
  padding:10px;
  color: #fff;
}
.top_menu{
  float: right;
}
.top_menu li{
  float: left;
  width: auto;
}
.top_menu li a{
  color: #fff;
  text-decoration: none;
  display:block;
  padding: 15px;
}
.top_menu li a:hover{
  text-decoration: underline;
}
.image_area{
  width: 100%;
  height: 30%;
  background-color: transparent;
}
.wrapper{
  margin-top:10px;
  padding-bottom: 100px;
}
.side_menu{
  width: 300px;
  float: right;
  margin-right: 15%;
  margin-top: 25px;
}
#datetime{
  width:300px;
  height: 6rem;
  font-size: 5rem;
  color:white;
  background-color: transparent;
  /* padding-top: 200px; */
  font-weight: bold; 
}
.side_menu li{
  background-color: #eb0dcd;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover{
  /* opacity:0.8; */
}
.side_menu li a{
  color: #fff;
  font-size: 2rem;
  display: block;
  text-decoration: none;
  padding: 2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}
.banner:hover{
  opacity:0.6;
}
.content{
  width:660px;
  margin-left: 20px;
  float: left;
  font-size: 1.5rem;
}
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2 ;
}
.footer{
  width: 100%;
  height: 50px;
  position:absolute;
  bottom: 0;
  background-color: #4D4E4D;
  display:table;
}
.footer p{
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.banner_content{
  display: table;
  width: 100%;
  margin-top: 10px;
}
.banner_content p{
  display: table-cell;
}
.banner_content img{
  width: 100%;
}
.side_menu .point{
  background-color:greenyellow;
}
.side_menu .point a{
  color: #4D4E4D;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}